<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <br>
  <br>
  <h1> <a href="./pets">Go to Main..</a> </h1>
  <br>
  <br>
  <h3>Animals I provide care for:</h3><br>
  <table>
    <% if (pets.myPatient = true) { 
      pets.forEach(pet => { %>
      <tr>  
        <td><%= pet.name %></p>
          <td><%= pet.id %></p>
          <td><a class="details" href="pets/<%= pet._id%>">Details</a></td>
      </tr><br>
    <% })} %>
  </table>
  <br>
</main>

<%- include('./partials/footer') %>
