<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <br>
  <div class="jumbotronID">
    <h1 class="display-4">Edit Pet's Info</h1>
    <p class="lead">
    <hr class="my-4">
      <form action="/pets/<%= pet._id%>/?_method=PATCH" method="POST">
        <label>Microchip:
          <p><%= pet._id %></p>
        </label><br><br></h2>
        <label>Name:
          <p><%= pet.name %></p>
          <input value="<%= pet.name %>" class="inputBox" type="String" name="name" >
        </label><br><br>
        <label>Previous names:
          <p><%= pet.nameOther %></p>
          <input value="<%= pet.nameOther %>" class="inputBox" type="String" name="nameOther" >
        </label><br><br>
        <label>Age:
          <p><%= pet.age %></p>
          <input  value="<%= pet.age %>" class="inputBox" type="Number" name="age" >
        </label><br><br>
        <label>Birthdate:
          <p><%= pet.birthdate %></p>
          <input  value="<%= pet.birthdate %>" class="inputBox" type="datetime-local" name="birthdate" >
        </label><br><br>
        <label>Breed:
          <p><%= pet.breed %></p>
          <input  value="<%= pet.breed %>" class="inputBox" type="String" name="breed" >
        </label><br><br>
        <label>Gender:
          <p><%= pet.gender %></p>
        </label><br><br>
        <label>Vet information:
          <p><%= pet.vetInfo %></p>
          <input  value="<%= pet.vetInfo %>" class="inputBox" type="String" name="vetInfo" placeholder="add vet info">
        </label><br><br>
        <label>Vaccines:
          <p><%= pet.vaccines %></p>
          <input  value="<%= pet.vaccines %>" class="inputBox" type="String" name="vaccines" placeholder="type and expiration date" >
        </label><br><br>
        <label>Medical Procedures:
          <p><%= pet.medicalProcedures %></p>
          <input  value="<%= pet.medicalProcedures %>" class="inputBox" type="String" name="medicalProcedures" placeholder="add procedure info">
        </label><br><br>
        <label>Fixed:
          <p><%= pet.fixed %></p>
          <input  value="<%= pet.fixed %>" class="inputBox" type="String" name="fixed" placeholder="true or false">
        </label><br><br>
        <label>Notes:
          <p><%= pet.notes %></p>
        </label><br><br>
        <h3>Comments:</h3>
        <br><br>
        <% if (user && user.profile._id.equals(pet.owner)) { %>
          <button type="submit" 
          class="submitBtn"> Save Info</button>
          <% } %>
          <br><br>
        </form>
        <form id="add-comments-form"
        action="/pets/<%= pet._id %>/comments"
        method="POST" >
          <label for="content-textarea"></label>
          <textarea name="extraInfo" id="extraInfo"></textarea>
            <input class="inputBox" type="datetime-local" name="dueDate" >
        </form>
      </p>
    </div>
    <br>
    <br>
  </main>

<%- include('../partials/footer') %>