<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1> FURBABIES! </h1>
  <h2>Search here...!</h2>

    <div class="search-container">
      <form id="form" action="/views/pets" >
      <input type="text" placeholder="Enter microchip ID here.." name="search" >
      <button type="submit"><i class="fa fa-search">Search!</i></button>
      </form>
      <br>
      <form id="form">
        <input type="search" id="query" name="q" placeholder="Enter microchip ID here..">
        <button>Search</button>
      </form>
    </div>
      <br>
      <h1>move to pet</h1>
      <% pets.forEach(pet => { %>
        <li>
          <a href="/pets/<%= pet.microchip %>"><%= pet.microchip %></a>
        </li>
      <% }) %>
    </div>

	<ul>
    <li>
      <div class="pill-nav">
        <a class="active" href="/pets/new">Add a Pet</a>
        <a href="/">See My Patients</a>
      </div>
    </li>
    <li></li>
  </ul>
</section>

<%- include('../partials/footer') %>