<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>New:</h1>

  <h1> You have added <%= pet.name %>!  </h1>
  <main>
    
  
    <%= pet.body %>

  
  </main>
  
</main>


<%- include('../partials/footer') %>