<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section>
    <div class="jumbotronID">
      <h1 class="display-4"><%= pet.name %> details:</h1>
        <p class="lead" > 
        <a class="moreInfo" href="<%=pet._id%>/edit">EDIT <%=pet.name%> HERE</a></p>
        <hr class="my-4">
          <h3>Name:</h3>
            <li><%= pet.name %><br></li>
          <h3>Microchip Number:</h3> 
            <li><%= pet._id %><br></li>
          <h3>Any Previous Names:</h3>
            <li><%= pet.nameOther %><br></li>
          <h3>Age:</h3>
            <li><%= pet.age %><br></li>
          <h3>Birthdate:</h3>
            <li><%= pet.birthdate %><br></li>
          <h3>Breed:</h3>
            <li><%= pet.breed %><br></li>
          <h3>Gender:</h3>
            <li><%= pet.gender %><br></li>
          <h3>My patient?</h3>
            <li><%= pet.myPatient %><br></li>
          <h3>Vet Information:</h3>
            <li><%= pet.vetInfo %><br></li>
          <h3>Vaccines List:</h3>
            <li><%= pet.vaccines %><br></li>
          <h3>Medical Procedures:</h3>
            <li><%= pet.medicalProcedures %><br></li>
          <h3>Spayed or Neutered?</h3>
            <li><%= pet.fixed %><br></li>
          <h3>Additional Notes:</h3>
            <li><%= pet.notes %></li>
          <h3>Owner Information:</h3>
            <li>  </li>
          <br>
          <br>
      </p>
    </div>
  <section> 
  <br>
  <br>
  <div class="deleteBtn">
    <form action="/pets/<%= pet._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit"></button><i class="fa-solid fa-trash-can"></i>  DELETE ALL</button>
    </form>
  </div>
  <br>
  <br>
</main>

<%- include('../partials/footer') %>